 .lspan {
    font-size: 24px;
    font-weight: bold;
    color: rgb(1, 105, 255);
  }

  .text {
    font-size: 24px;
    font-weight: bold;
    color: rgb(1, 105, 255);
    flex: 2;
  }
  .join {
    background-color: rgb(1, 105, 255);
    margin-left: auto;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  .register {
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    color: rgb(1, 105, 255);
    ;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(1, 105, 255);
    ;
  }